$primaryColor : #19222F;
$secondaryColor : #F5DEB3;
$ternaryColor : #00F5B8;
$bgUrl : './media/bg-img.jpg';

@mixin centered(){
    display: flex;
    justify-content: center;
    align-items: center;
}

