@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");
$bg-color: #daf3f0;
$font-fam: "Bungee Shade", sans-serif;
.notfound-container {
  background-color: $bg-color;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .content {
    position: relative;
  }

  .content h2 {
    color: #fff;
    font-size: 8em;
    left: 50%;
    margin-top: 9%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #4a38ec;
  }

  .content h2:nth-child(2) {
    color: #7f70fd67;
    animation: animate 4s ease-in-out infinite;
  }

  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }

    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }

  .container-1 {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .inner-container-1 h4 {
      font-family: $font-fam;
      color: #6890e7;
      font-size: 2em;
    }

    .para-content p {
      color: #adc3f1;
      font-size: 1.3em;
      text-transform: capitalize;
    }
    .inner-container-2 {
      .gif {
        height: 20em;
        width: 30em;
      }
    }
  }
}
