// Form Container
//variable
$text-color:#434db8;
.main-container {
    height: 100vh;
    overflow: hidden;
    padding: 0.2em;
    .inner-container {
        display: flex;
        flex-wrap: wrap;

    }
  

    //Signup Container
    .signup-container {
        flex-basis: 50%;
        z-index: 99;
        background-image: url("/public/background.png");
    background-repeat: no-repeat;
    background-size: auto;
   

        .signup-main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
           
            
        }
            .signup {
                font-family: 'Times New Roman', Times, serif;
                color:$text-color;
                position: relative;
                font-size:2.3em;
                font-weight: 600;
                text-align: center;
                bottom: 18px;
                text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.537);
            }
            .form-inner-container {

                
                display: flex;
                flex-direction: column;
                gap: 1.1em;
            
                .inline-container {
                    display: flex;
                    gap: 1.5em;
                }

            }

            .css-kzf2d7-MuiInputBase-root-MuiOutlinedInput-root {
                font-size: .8em;
                top: 0.3em;
            }

            #text-line {
                font: inherit;
                letter-spacing: inherit;
                color: currentColor;
                
                box-sizing: content-box;
                background: none;
                height: 1.4375em;
                margin: 0;
                -webkit-tap-highlight-color: transparent;
                display: block;
                width: 29em;
                padding: 10px 12px;
                
            }

            #text {
                font: inherit;
                letter-spacing: inherit;
                color: currentColor;
                
               border: 0;
                box-sizing: content-box;
                background: none;
                height: 1.4375em;
                margin: 0;
                -webkit-tap-highlight-color: transparent;
                display: block;
                width: 13em;
                padding: 10px 12px;
                
            }

            .signup-btn {
                width: 50%;

            }

            input[type=date] {
                &:required:invalid {
                    &::-webkit-datetime-edit {
                        color: transparent
                    }
                }
            }
        }
    }
    .signup-link
    {
        margin-left: 23%;
        margin-top:7%;
    }
